.logo-font {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Fugaz One', sans-serif;
}

body {
  scroll-behavior: smooth;
}

.title-font {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Fugaz One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
}